* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.drop-area {
  width: 40vw;
  height: 40vh;
  border: 4px dashed black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.disk__upload-input {
  margin: 10px;
}

.files-list {
  display: flex;
  width: 40vw;
  height: 30vh;
  list-style-type: none;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1rem;
  border: aquamarine solid 4px;
  border-radius: 10px;
}

.files-container {
  display: flex;
  align-items: center;
}

.files-button {
  width: 50px;
  height: 20px;
}

.log-list {
  display: flex;
  align-content: flex-start;
  width: 40vw;
  height: 30vh;
  list-style-type: none;
  flex-wrap: wrap;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 1rem;
  margin: 20px;
  border: aquamarine solid 4px;
  border-radius: 10px;
}

.table-element {
  margin: 5px;
  width: 130px;
}

.log-element {
  margin: 5px;
  width: 260px;
  height: 20px;
}
